name: Flutter Test Build

on:
  push:
    branches:
      - test

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Run tests
        run: flutter test

      - name: Build APK (test flavor)
        run: flutter build apk --flavor test -t lib/main_test.dart --release

      - name: Upload APK artifact
        uses: actions/upload-artifact@v3
        with:
          name: test-apk
          path: build/app/outputs/flutter-apk/app-test-release.apk
